body {
  margin: 0;
  font-family: "Trebuchet MS", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  color: #1f1f1f;
  letter-spacing: -.5px;
  font-weight: 400;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.center-text {
  text-align: center;
}
.frame {
  display : -ms-flexbox ; 
  display : flex ; 
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.body {
  position: relative;
  height: 100%;
  margin: 0;
}
.bg-body-half {
  position: absolute;
  z-index: -5;
  width: 100%;
  background: linear-gradient(-10deg,#fff, rgb(243, 255, 253));
  height: 70%;
}
.fr {
  max-width: 33.3333%;
}
.card {
  border: 1px solid rgba(0,0,0,.125);
  margin: 0 15px 25px 15px ;
  background: #fff;
  padding: 24px 45px 30px 45px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-top: 5px solid  rgb(80, 227, 194);
}
.card:hover {
  transition: ease-in-out all 0.3s ;
  box-shadow: rgba(0, 0, 0, 0.12) 5px 2px 20px;
}
.j-c-c {
  justify-content: center;
}
.j-c-b {
  justify-content: space-between;
}
.framer {
  margin: 0 auto;
  width: 100;
  max-width: 1040px;
}
.card-head h2 {
  font-size: 13px;
  color: rgb(135, 139, 144);
  font-weight: 600;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.card-head  h3{
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}
.grey {
  color: #878b90;
}
p {
  font-size: 14px;
    font-weight: 400;
    color: #878b90;
}
.card-body .text {
  min-height: 180px;
}
.card-body a {
  display: inline-block;
  padding: 16px 32px;
  background: #50e3c2;
  border-radius: 3px;
  text-decoration: none;
  color: #0f3d33;
  font-size: 15px;
  font-weight: 600;
}
.button p {
  color: #1f1f1f;
}
.head-section {
  padding: 15px;
  text-align: center;
  margin: 0;
  margin-bottom: 35px;
}
h1 {
  margin-top: 20px;
}
.head-section p {
  font-size: 16px;
  color: #1f1f1f;
  font-weight: 400;
  letter-spacing: .5px;
  padding: 0 5px;
}
.m-r-l-5 {
  margin: 0 2rem;
}
.w-100 {
  width: 100%;
}
.box-1 {
  background: linear-gradient(50deg, rgb(255, 250, 234) ,#fff );
  width: 100%;
  border: 1px solid #1f1f1f;
  padding: 40px 0;
  transition:all  .4s ease-in-out;
}
.box-2 {
  background: linear-gradient(50deg, rgb(19, 17, 5) , #000);
  width: 100%;
  border: 1px solid #1f1f1f;
  padding: 40px 0;
  color: #fff;
  transition:all .4s ease-in-out ;
}
button {
  background: #0f3d33;
  padding: 15px 30px
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.dropdown {
  right: 0%;
  top: 3em;
  display: none;
  background: radial-gradient(rgb(255, 251, 251) , #fff);
  transition: all 0.1s ease-in-out;
}
.drop-content {
  margin: 0;
  text-align: left;
  padding: 0;
  width: 250px;
  padding: 10px;
  border: 1px solid rgba(133, 133, 133, 0.125);
  box-shadow: rgb(249, 255, 254) 5px 2px 20px;
  cursor: default;
  border-radius: 5px;
}
.drop-holder {
  cursor: pointer;
}
.drop-holder:hover .dropdown {
  display: block;
}
.drop-holder h4 {
  padding-right: 15px;
}
.drop-content li {
  list-style: none;
  display: inline-block;
  min-width: calc((250px / 2) - 10px);
  padding: 10px 0 ;
}
.drop-content a {
  color: inherit;
  text-decoration: none;
  transition: all 0.07s ease-in-out;
}
.drop-content a:focus , .dropdown {
  display: none;
}
.drop-content a:hover {
  color: rgb(80, 227, 194);
  letter-spacing: -.45px;
  font-size: 14.2px
}
.head-logo a {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(21, 38, 73);
  border: 1px dotted rgb(21, 38, 73);
  padding: 3px 15px;
  font-size: 30px;
  text-decoration: none;
  font-weight: 400;
}
.head-logo {
  display: block;
  text-align: center;
  margin: 20px auto;
}
.head-logo span {
  color: rgb(80, 227, 194);
}
.curriculum-section {
  margin: 30px 0;
}
.curriculum-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 100%;
}
.curriculum-content li {
  color: #000;
}
.c-card-1 {
  color: #fff;
  background: rgb(62, 64, 97);
  width: 25% !important;
  margin-bottom: 20px;
}
.c-card-2 {
  width: 50%;
  margin-bottom: 20px;
}
.curriculum-content {
  padding: 20px;
}
.curriculum-content h4 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 8px;
}
hr {
    height: 0px;
    margin: 16px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.17);
    border-right: none;border-bottom: none;border-left: none; 
    width: 100%;
}
.curriculum-content p {
  color: #fff;
  font-size: 14px;
}
.curriculum-content p span {
  margin-left: 8px;
}
.curriculum-content > div > a {
  display: block;
  text-align: center;
  color: #1f1f1f;
  background: rgb(80, 227, 194);
  padding: 13px 30px;
  border-radius: 3px;
  transition: all 0.4s ease-in-out ;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}
.course {
  letter-spacing: 0px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.framer-copy {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
.fa {
  margin-right: 5px;
}
.curriculum-content p a {
  text-decoration: none;
  color: #fff;
}
.c-card-2 > .body {
  box-shadow: rgba(0, 0, 0, 0.15)  1px 1px 5px;
  border: 1px solid  rgb(229, 229, 229);
}
.toogle li {
  list-style: square;
}
.toogle {
  border: rgba(0, 0, 0, 0.125) 1px solid;
  border-radius: 3px;
  background: #fff;
}
.toogle h2 {
  cursor: pointer;
  padding: 12px 20px; 
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  margin-top: 0;
  font-size: 14px;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.03);
}
.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}
.box {
  padding: 20px;
  text-align: center;
  box-shadow: 2px ,3px , 20px #878b90;
  border: 1px solid #e2e1e1;
}
.box:hover {
  box-shadow:  3px , 4px , 22px #878b90,;
}
.text-left {
  text-align: left;
}
.margin-auto {
  margin: 0 auto;
}
.bg-light-half {
  background: linear-gradient(250deg , #eff3f3 , #fff) ;
  height: 100%;
}
.text-right {
  text-align: right;
}
.bg-white {
  background: #fff;
  height: 100%;
  position: relative;
}
.bg-fixed-half {
  height: auto;
  position: absolute;
}
.half-hold


@media (min-width: 576px) {
  .framer-copy {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .framer-copy {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .framer-copy {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .framer-copy {
    max-width: 1140px;
  }
}



@media (max-width: 992px) {
  .framer {
    max-width: 720px;
  }
  .fr {
    max-width: 45%;
  }
}
@media (max-width: 768px) {
  .framer {
    max-width: 540px;
    padding: 0 15px;
  }
  .fr {
    max-width: 100%;
  }
  .c-card-1 {
    color: #fff;
    background: rgb(62, 64, 97);
    min-width: 100% !important; 
  }
  .c-card-2 {
    width: 100%;
  }
}
@media (max-width: 420px) {
  .card-body a {
    min-width: calc(100% - 64px) ;
    font-size: 15px;
  }
  .framer {
    min-width: 100%;
  }
}